.header-main {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  width: 100%;
  background-color: white;
}

.header-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 40px;
}
.header-content h5{
  font-size: 22px;
  font-weight: 600;
  color: black;
}
.header-content p{
  font-size: 20px;
  font-weight: 500;
  color: #707070;
}