.siderbarMain {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    height: 100vh;
    width: 18.125rem; /* 72.5 / 4 = 18.125rem */
    flex-direction: column;
    overflow-y: hidden;
    background-color: white;
    transition: transform 0.3s ease-linear;
  }
  /* Sidebar open state */
  .siderbarMain.translate-x-0 {
    transform: translateX(0);
  }
  
  /* Sidebar closed state */
  .siderbarMain.-translate-x-full {
    transform: translateX(-100%);
  }

  /* For large screens (lg:static and lg:translate-x-0) */
  @media (min-width: 1024px) {
    .siderbarMain {
      position: static;
      transform: translateX(0);
    }
  }
  
aside.siderbarMain{
   width: 224px; 
   border-right: 1px solid #EDF5FE;
}
.logoSec{
    padding: 30px 45px;
    display: flex;
    justify-content: flex-start;
    
}
.navListItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navlist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 7px 45px;
    transition: .6s;
}
.navlist.active{
    background-color: rgba(67, 145, 237, 0.1);
    font-weight: 500;
    color: black;
}
.navlist:hover{
    background-color: rgba(67, 145, 237, 0.1);
    font-weight: 500;
    color: black;
}
.navlist.active img{
    filter: brightness(0);
}
.navlist:hover img{
    filter: brightness(0);
}
.logoutBtn {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
}