.dark .customBox {
  border-color: #4B5563;
  background-color: #1F2937;
}
.customBox {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
}
.customBox::-webkit-scrollbar {
  height: 8px;
}

.customBox::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.customBox::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.customBox::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.customBox {
  overflow-y: auto;
}

.customBox::-webkit-scrollbar {
  width: 5px; 
}

.customBox::-webkit-scrollbar-thumb {
  background-color: #9CB7C5; 
  border-radius: 10px; 
}

.customBox::-webkit-scrollbar-track {
  background-color: transparent; 
}

.taskBlock {
  width: 100%;
  max-width: 360px;
  padding: 20px;
  background-color: #EEF2F5;
  border-radius: 10px;
  height: 100vh;
  flex-shrink: 0;
}

.taskHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.taskHeading h6{
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-top: 0px;
}
.checklistFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.checklistFooter button {
  font-size: 8px;
  font-weight: 500;
  background-color: #cf3636;
  color: white;
  padding: 8px;
  line-height: 5px;
  border-radius: 8px;
}
.checklistFooter .checkProgress button {
  background-color: #eeecec;
  color: #767575;
}
.checklistFooter .checkProgress button {
  background-color: #eeecec;
  color: #767575;
}
.checkProgress {
  display: flex;
  gap: 8px;
}